<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
    </runtime>
    <oracle.dataaccess.client>
        <settings>
            <add name="bool" value="edmmapping number(1,0)"/>
        </settings>
    </oracle.dataaccess.client>
    <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
                <!--<dataSource alias="mobilesales" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=AL-QA11gr2-S00)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl11g))) " />-->
                <dataSource alias="mobilesales" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=al-tsora12c-vm1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl12c))) "/>
            </dataSources>
            <edmMappings>
                <edmMapping dataType="number">
                    <add name="bool" precision="1"/>
                    <add name="byte" precision="2"/>
                    <add name="int16" precision="5"/>
                </edmMapping>
            </edmMappings>
        </version>
    </oracle.manageddataaccess.client>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
